.flexbox {
	height: 1000px;
	display: flex;
	flex-direction: column;
}

.scrollable {
	flex: 1 1 auto;
	overflow-y: scroll;
}

.user-self {
	color: darkblue;
}

#chat-message-list {
	border-style: ridge;
}